@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC');

#main-menu {
    background-color: black;
    border-radius: 0;
}
#main-menu h1 {
    font-family: 'Playfair Display SC', serif;
}
.indexcard {
    overflow: hidden;
}
#index-grid.ui.grid>.column:not(.row) {
    display: flex;
}
#album-header {
    padding-bottom: 3em;
}
#album-grid .eight.wide.mobile.four.wide.tablet.four.wide.computer.column {
    padding: 0.3rem;
}
#photo .ui.centered.image {
    max-height: 85vh;
}
#photo-description {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.next-photo {
    display:none;
}
.ui.breadcrumb {
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.ui.inverted.menu .header.item {
    background-color: #000000;
}
.ui.inverted.menu {
    background-color: #141414;
}
input[type=date]::-webkit-calendar-picker-indicator {
    background: transparent;
}
input[type=date]::-webkit-inner-spin-button {
    display: none;
}
#pending-photos {
    padding-bottom: 3rem;
}
