#album-header {
    padding-top: 1em;
    padding-bottom: 1.5em;
}
#album-column {
    padding: 0.3rem;
}
#landscape-photo {
    padding: 0;
}
#portrait-photo {
    padding: 0;
    max-height: 1200px;
}
#portrait-photo .ui.centered.fluid.image {
    display: block;
    max-height: 100%;
    width: auto;
}
.next-photo {
    display:none;
}
