celery>=4.1.0,<4.2.0
Django>=2.0,<2.1.0
django-celery-results>=1.0.1,<1.1.0
django-cleanup>=2.1.0,<2.2.0
django-debug-toolbar
dj-static>=0.0.6,<0.1.0
gunicorn>=19.8.1,<19.9.0
pillow-simd==5.1.1.post0
psycopg2>=2.7.3,<2.8.0
redis>=2.10.6,<2.11.0
zipstream>=1.1.4,<1.2.0
