{% extends "base.html" %}
{% load staticfiles %}

{% block title %}404{% endblock %}

{% block content %}
  <div class="ui stackable centered container grid">
    <div class="six wide column column">
      <div class="ui icon error message">
        <i class="red warning sign icon"></i>
        <div class="content">
          <div class="header">Sivua ei löydy</div>
          <p>Tarkista osoitteen oikeellisuus: {{ request_path }}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

