{% extends "base.html" %}
{% block title %}Luo uusi albumi{% endblock %}

{% block content %}
  <div class="ui container">
    <form class="ui large form {% if form.errors %}error{% endif %}" action="{% url 'gallery:album-new' %}"
          method="post">
      {% csrf_token %}
      {% include 'album-form.html' %}
      <input class="ui primary big button" type="submit" value="Tallenna"/>
    </form>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    $('.ui.checkbox')
      .checkbox()
    ;
  </script>

  <script>
    $('#select')
      .dropdown()
    ;
  </script>
{% endblock %}
