{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ album.title }}{% endblock %}

{% if user.is_authenticated %}
  {% block navbar %}
    <div class="item header">
      Albumi
      <i class="grid layout icon"></i>
    </div>
    <a class="item" href="{% url 'gallery:album-edit' album.directory %}">Muokkaa</a>
    <a class="item" href="#" id="album-delete">Poista</a>
  {% endblock %}
{% endif %}

{% block content %}
  <div class="ui container">
    <div class="ui breadcrumb">
      <a class="section" href="{% url 'gallery:index' %}">Etusivu</a>
      {% if album.parent %}
        {% for parent in album.parent_albums reversed %}
          <i class="right angle icon divider"></i>
          <a class="section"
             href="{% url 'gallery:album' parent.directory %}">{{ parent.title }}</a>
        {% endfor %}
      {% endif %}
      <i class="right angle icon divider"></i>
      <div class="active section">{{ album.title }}</div>
    </div>
  </div>

  {% if sub_albums %}
    <div class="ui container subalbums">
      <h1 class="ui header">Alialbumit</h1>
      <div class="ui four stackable cards">
        {% for album in sub_albums %}
          <a class="ui card" href="{% url 'gallery:album' album.directory %}">
            <div class="image">
              {% if album.album_cover.thumbnail_img.url %}
                <img src="{{ album.album_cover.thumbnail_img.url }}"
                     srcset="{{ album.album_cover.hidpi_thumbnail_img.url }} 2x" alt="{{ album.title }}">
              {% else %}
                <img src="{% static 'gallery/images/no_image.png' %}" alt="Ei kuvaa">
              {% endif %}
            </div>
            <div class="content">
              <div class="header">{{ album.title }}</div>
              <div class="description">
                {{ album.description }}
              </div>
            </div>
            <div class="extra content">
            <span class="right floated">
              {{ album.date|date:'j.n.Y' }}
            </span>
              <span>
              <i class="image icon"></i>
              {{ album.photos.count }}
            </span>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
    <div class="ui divider"></div>
  {% endif %}

  {% if photos %}
    <div class="ui container" id="album-header">
      <div class="ui two column middle aligned container padded grid">
        <div class="left aligned eleven wide column" id="album-description">
          <h1 class="ui header">
        <span class="content">
          {{ album.title }}
          <span class="sub header">{{ album.description|safe }}</span>
        </span>
          </h1>

        </div>
        <div class="right aligned five wide column" id="album-button">
          <a class="ui small button" data-tooltip="Listaa kaikki albumin kuvat suurempina" data-position="bottom right"
             href="{% url 'gallery:album-large' album.directory %}">Näytä kaikki</a>
        </div>
      </div>
    </div>

    {% if user.is_authenticated %}
      {% if album.pending_photos %}
        <div class="ui container" id="pending-photos">
          <div class="ui centered stackable grid ">
            <div class="six wide column">
              <div class="ui icon message">
                <i class="hourglass start icon"></i>
                <div class="content">
                  <div class="header">
                    Kuvien käsittely kesken
                  </div>
                  <p>Albumissa on {{ album.pending_photos }} kuvaa joiden käsittely on vielä kesken.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endif %}

    <div class="ui container">
      <div class="ui grid" id="album-grid">
        {% for photo in photos %}
          <div class="eight wide mobile four wide tablet four wide computer column">
            <a href="{% url 'gallery:photo' photo.slug %}" class="ui fluid image">
              <img class="ui image" src="{{ photo.thumbnail_img.url }}"
                   srcset="{{ photo.hidpi_thumbnail_img.url }} 2x" alt="{{ photo.title }}">
            </a>
          </div>
        {% endfor %}
      </div>
      <div class="ui hidden divider"></div>

      {% if is_paginated %}
        <div class="ui pagination menu">
          {% for page in paginator.page_range %}
            {% if page_obj.number == page %}
              <a class="active item" href="?page={{ page }}">{{ page }}</a>
            {% else %}
              <a class="item" href="?page={{ page }}">{{ page }}</a>
            {% endif %}
          {% endfor %}
        </div>
        <div class="ui hidden divider"></div>
      {% endif %}
    </div>

  {% else %}
    <h2 class="ui center aligned icon header">
      <i class="image icon"></i>
      <span class="content">
        Ei kuvia
        <span class="sub header">Albumiin ei ole vielä lisätty kuvia.</span>
      </span>
    </h2>
  {% endif %}
{% endblock %}

{% block modals %}
  {% if user.is_authenticated %}
    <div class="ui small modal">
      <div class="header">
        Poista albumi
      </div>
      <div class="content">
        <p>Poistetaanko albumi "{{ album.title }}" ja kaikki sen alla olevat kuvat?</p>
      </div>
      <div class="actions">
        <form action="{% url 'gallery:album-delete' album.directory %}" method="post">
          {% csrf_token %}
          <div class="ui cancel button">
            Peruuta
          </div>
          <input class="ui negative button" type="submit" value="Poista"/>
        </form>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block scripts %}
  {% if user.is_authenticated %}
    <script>
        $('.ui.small.modal')
            .modal('setting', 'duration', 0)
            .modal('attach events', '#album-delete', 'show')
        ;
    </script>
  {% endif %}
{% endblock %}
