{% extends "base.html" %}
{% load static %}

{% block title %}{{ album.title }}{% endblock %}

{% if user.is_authenticated %}
  {% block navbar %}
    <div class="item header">
      Albumi
      <i class="grid layout icon"></i>
    </div>
    <a class="item" href="{% url 'gallery:album-edit' album.directory %}">Muokkaa</a>
    <a class="item" href="{% url 'gallery:album-scan' album.directory %}">Etsi uusia kuvia</a>
    <a class="item" href="{% url 'gallery:album-update' album.directory %}">Päivitä kuvat</a>
    <a class="item" href="#" id="album-delete">Poista</a>
  {% endblock %}
{% endif %}

{% block content %}
  <div class="ui container">
    <div class="ui breadcrumb">
      <a class="section" href="{% url 'gallery:index' %}">Etusivu</a>
      {% if album.parent %}
        {% for parent in album.parent_albums reversed %}
          {% if parent.public or user.is_authenticated %}
            <i class="right angle icon divider"></i>
            <a class="section" href="{% url 'gallery:album' parent.directory %}">{{ parent.title }}</a>
          {% endif %}
        {% endfor %}

      {% endif %}
      <i class="right angle icon divider"></i>
      <div class="active section">{{ album.title }}</div>
    </div>
  </div>

  <div class="ui container" id="album-header">
    <div class="ui two column middle aligned container padded grid">
      <div class="left aligned eleven wide column" id="album-description">
        <h1 class="ui header">
        <span class="content">
          {{ album.title }}
          <span class="sub header">{{ album.description|safe }}</span>
        </span>
        </h1>
      </div>

      {% if photos %}
        <div class="right aligned five wide column" id="album-button">
          {% if album.downloadable %}
            <a class="ui small button" id="zip-button"
               data-tooltip="Tallenna albumin kuvat zip-tiedostona"
               data-position="bottom right"
               href="{% url 'gallery:album-download' album.directory %}">
              Lataa kuvat
            </a>
          {% endif %}
          <a class="ui small button" id="large-button"
             data-tooltip="Listaa kaikki albumin kuvat suurempina"
             data-position="bottom right" href="{% url 'gallery:album-large' album.directory %}">
            Näytä kaikki
          </a>
        </div>
      {% endif %}
    </div>
  </div>

  {% if not photos and not sub_albums and not album.pending_post_processing %}
    {% load l10n %}
    <div class="ui stackable centered container grid">
      <div class="eight wide column column">
        <div class="ui icon message">
          <i class="image icon"></i>
          <div class="content">
            <div class="header">Ei kuvia</div>
            <p>Albumiin ei ole vielä lisätty kuvia.</p>
          </div>
          <a class="ui right floated primary button"
             href="{% url 'gallery:photo-massupload' %}?album_id={{ album.id|unlocalize }}">
            Lisää kuvia
          </a>
        </div>
      </div>
    </div>
  {% endif %}

  {% if sub_albums %}
    <div class="ui container subalbums">
      <div class="ui divider"></div>
      <h2 class="ui header">Alialbumit</h2>
      <div class="ui four stackable cards">
        {% for album in sub_albums %}
          <a class="ui card" href="{% url 'gallery:album' album.directory %}">
            <div class="image">
              {% if album.album_cover.thumbnail_img.url %}
                <img src="{{ album.album_cover.thumbnail_img.url }}"
                     srcset="{{ album.album_cover.hidpi_thumbnail_img.url }} 2x" alt="{{ album.title }}">
              {% else %}
                <img src="{% static 'gallery/images/no_image.png' %}" alt="Ei kuvaa">
              {% endif %}
            </div>
            <div class="content">
              <div class="header">{{ album.title }}</div>
              <div class="description">
                {{ album.description|striptags|truncatechars:160 }}
              </div>
            </div>
            <div class="extra content">
            <span class="right floated">
              {{ album.date|date:'j.n.Y' }}
              {% if not album.public %}
                <i class="lock icon"></i>
              {% endif %}
            </span>
              <span>
              <i class="image icon"></i>
              {{ album.photocount }}
            </span>
            </div>
          </a>
        {% endfor %}
      </div>
      <div class="ui divider" id="subalbum-divider"></div>
    </div>
  {% endif %}


  {% if user.is_authenticated and album.pending_post_processing %}
    <div class="ui container pending-photos">
      <div class="ui centered stackable grid">
        <div class="eight wide column">
          <div class="ui large blue progress" id="post-process-progress">
            <div class="bar">
              <div class="progress"></div>
            </div>
            <div class="label pending-label">
              Käsitellään kuvia (<span id="pp-count">{{ album.pending_post_processing }}</span> jäljellä)
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if user.is_authenticated and album.pending_updates %}
    <div class="ui container pending-photos">
      <div class="ui centered stackable grid">
        <div class="eight wide column">
          <div class="ui large blue progress" id="update-progress">
            <div class="bar">
              <div class="progress"></div>
            </div>
            <div class="label pending-label">
              Päivitetään kuvia (<span id="update-count">{{ album.pending_updates }}</span> jäljellä)
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="ui container">
    <div class="ui grid" id="album-grid">
      {% for photo in photos %}
        <div class="eight wide mobile four wide tablet four wide computer column">
          <a href="{% url 'gallery:photo' photo.slug %}" class="ui fluid image">
            <img class="ui image" src="{{ photo.thumbnail_img.url }}"
                 srcset="{{ photo.hidpi_thumbnail_img.url }} 2x" alt="{{ photo.title }}">
          </a>
        </div>
      {% endfor %}
    </div>
    <div class="ui hidden divider"></div>

    {% if is_paginated %}
      {% if paginator.count <= 320 %}
        <div class="ui pagination menu">
          {% for page in paginator.page_range %}
            {% if page_obj.number == page %}
              <a class="active item" href="?page={{ page }}">{{ page }}</a>
            {% else %}
              <a class="item" href="?page={{ page }}">{{ page }}</a>
            {% endif %}
          {% endfor %}
        </div>
        <div class="ui hidden divider"></div>

      {% else %}

        <div class="ui center aligned basic segment">
          {% if page_obj.has_previous %}
            <a class="ui left labeled icon button" href="?page={{ page_obj.previous_page_number }}">
              <i class="left chevron icon"></i>
              edellinen
            </a>
          {% endif %}
          {% if page_obj.has_next %}
            <a class="ui right labeled icon button" href="?page={{ page_obj.next_page_number }}">
              <i class="right chevron icon"></i>
              seuraava
            </a>
          {% endif %}
          <div class="ui hidden divider"></div>
          <div class="ui scrolling dropdown" id="page-select">
            Sivu {{ page_obj.number }} / {{ paginator.num_pages }}
            <i class="caret up icon"></i>
            <div class="menu">
              {% for page in paginator.page_range %}
                {% if page_obj.number == page %}
                  <a class="active item" href="?page={{ page }}">Sivu {{ page }} / {{ paginator.num_pages }}</a>
                {% else %}
                  <a class="item" href="?page={{ page }}">Sivu {{ page }} / {{ paginator.num_pages }}</a>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}

    {% endif %}
  </div>

{% endblock %}

{% block modals %}
  {% if user.is_authenticated %}
    <div class="ui small modal">
      <div class="header">Poista albumi</div>
      <div class="content">
        <p>Poistetaanko albumi "{{ album.title }}" ja kaikki sen alla olevat kuvat?</p>
      </div>
      <div class="actions">
        <form action="{% url 'gallery:album-delete' album.directory %}" method="post">
          {% csrf_token %}
          <div class="ui cancel button">Peruuta</div>
          <input class="ui negative button" type="submit" value="Poista"/>
        </form>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block scripts %}
  {% if user.is_authenticated %}
    <script>
        $('.ui.small.modal')
            .modal({
                centered: false
            })
            .modal('setting', 'duration', 0)
            .modal('attach events', '#album-delete', 'show')
        ;
    </script>
  {% endif %}

  {% if paginator.count > 320 %}
    <script>
        $('#page-select')
            .dropdown({
                direction: 'upward'
            })
        ;
    </script>
  {% endif %}

  {% if user.is_authenticated and album.pending_post_processing %}
    <script>
        var total = {{ album.pending_post_processing }};
        var url = '{% url 'gallery:album-in-progress' album.directory %}';
        var count = 0;
        function getProgress() {
            $.getJSON(url, function(result){
                var photoCount = result.post_processing;

                if (photoCount !== 0 && count < 600 ) {
                    var percentage = (total - photoCount) / total * 100;

                    $('#post-process-progress').progress({
                        percent: percentage
                    });

                    $('#pp-count').text(photoCount);

                    setTimeout(function() { getProgress(); }, 1000);
                    count++
                }

                if (photoCount === 0) {
                    $('#update-progress').progress({
                        autoSuccess: false,
                        percent: 100
                    });
                    location.reload();
                }
            });
        }

        window.onload = getProgress;
    </script>
  {% endif %}

  {% if user.is_authenticated and album.pending_updates %}
    <script>
        var total = {{ album.pending_updates }};
        var url = '{% url 'gallery:album-in-progress' album.directory %}';
        var count = 0;
        function getUpdateProgress() {
            $.getJSON(url, function(result){
                var updateCount = result.updating;

                if (updateCount !== 0 && count < 600 ) {
                    var percentage = (total - updateCount) / total * 100;

                    $('#update-progress').progress({
                        percent: percentage
                    });

                    $('#update-count').text(updateCount);

                    setTimeout(function() { getUpdateProgress(); }, 1000);
                    count++
                }

                if (updateCount === 0) {
                    $('#update-progress').progress({
                        autoSuccess: false,
                        percent: 100
                    });
                    window.location.replace('{{ album.get_absolute_url }}');
                }
            });
        }

        window.onload = getUpdateProgress;
    </script>
  {% endif %}

{% endblock %}
