{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ album.title }}{% endblock %}

{% if user.is_authenticated %}
  {% block navbar %}
    <div class="ui divider"></div>
    <div class="header">Albumi</div>
    <a class="item" href="{% url 'gallery:album-edit' album.directory %}">Muokkaa</a>
    <a class="item" href="#" id="album-delete">Poista</a>
  {% endblock %}
{% endif %}

{% block content %}
  {% if album.subalbums.all %}
    <div class="ui container subalbums">
      <h2 class="ui header centered">Alialbumit</h2>
      <div class="ui centered cards">
        {% for album in album.subalbums.all %}
          <a class="ui card" href="{% url 'gallery:album' album.directory %}">
            <div class="image">
              {% if album.album_cover.thumbnail_img.url %}
                <img src="{{ album.album_cover.thumbnail_img.url }}"
                     srcset="{{ album.album_cover.hidpi_thumbnail_img.url }} 2x" alt="{{ album.title }}">
              {% else %}
                <img src="{% static 'gallery/images/no_image.png' %}" alt="Ei kuvaa">
              {% endif %}
            </div>
            <div class="content">
              <div class="header">{{ album.title }}</div>
              <div class="description">
                {{ album.description }}
              </div>
            </div>
            <div class="extra content">
            <span class="right floated">
              {{ album.date|date:'j.n.Y' }}
            </span>
              <span>
              <i class="image icon"></i>
              {{ album.photos.count }}
            </span>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
    <div class="ui divider"></div>
  {% endif %}

  {% if photos %}
    <div class="ui container" id="album-header">
      <h2 class="ui header">
        <div class="content">
          {{ album.title }}
          <div class="sub header">{{ album.description }}</div>
        </div>
      </h2>
    </div>

    <div class="ui container">
      <div class="ui grid">
          {% for photo in photos %}
            <div class="eight wide mobile four wide tablet four wide computer column">
              <a href="{% url 'gallery:photo' photo.slug %}" class="ui fluid image">
                <img class="ui image" src="{{ photo.thumbnail_img.url }}"
                     srcset="{{ photo.hidpi_thumbnail_img.url }} 2x" alt="{{ photo.title }}">
              </a>
            </div>
          {% endfor %}

          {% if is_paginated %}
            <div class="ui hidden divider"></div>
            <div class="ui pagination menu">
              {% for page in paginator.page_range %}
                {% if page_obj.number == page %}
                  <a class="active item" href="?page={{ page }}">{{ page }}</a>
                {% else %}
                  <a class="item" href="?page={{ page }}">{{ page }}</a>
                {% endif %}
              {% endfor %}
            </div>
            <div class="ui hidden divider"></div>
          {% endif %}
      </div>
    </div>

  {% else %}
    <h2 class="ui center aligned icon header">
      <i class="image icon"></i>
      <div class="content">
        Ei kuvia
        <div class="sub header">Albumiin ei ole lisätty kuvia.</div>
      </div>
    </h2>
  {% endif %}
{% endblock %}

{% block modals %}
  {% if user.is_authenticated %}
    <div class="ui small modal">
      <div class="header">
        Poista albumi
      </div>
      <div class="content">
        <p>Poistetaanko albumi "{{ album.title }}" ja kaikki sen alla olevat kuvat?</p>
      </div>
      <div class="actions">
        <form action="{% url 'gallery:album-delete' album.directory %}" method="post">
          {% csrf_token %}
          <div class="ui cancel button">
            Peruuta
          </div>
          <input class="ui negative button" type="submit" value="Poista"/>
        </form>
      </div>
    </div>
  {% endif %}
{% endblock %}



{% block scripts %}
  {% if user.is_authenticated %}
    <script>
        $('.ui.small.modal')
            .modal('setting', 'duration', 0)
            .modal('attach events', '#album-delete', 'show')
        ;
    </script>
  {% endif %}
{% endblock %}
