{% extends "base.html" %}
{% block title %}Aseta kansikuvaksi{% endblock %}

{% block content %}
  <div class="ui container">
    <div class="ui centered stackable grid">
      <div class="eight wide column">
        <div class="ui raised segment">
        <h2 class="ui dividing header" id="form-header">Aseta albumin kansikuvaksi</h2>
          <div class="ui items">
            <div class="item">
              <div class="ui tiny image">
                <img src="{{ photo.thumbnail_img.url }}" alt="{{ photo.title }}">
              </div>
              <div class="middle aligned content">
                <a href="{{ photo.get_absolute_url }}">{{ photo.title }}</a>
              </div>
            </div>
            <form class="ui large form {% if form.errors %}error{% endif %}"
                  action="{% url 'gallery:set-as-cover-photo' %}" method="post">
              {% csrf_token %}

              {{ form.photo }}

              <div class="required field">
                <label>{{ form.album.label }}</label>
                {{ form.album }}
              </div>
              <input class="ui right floated primary big button" type="submit" value="Tallenna"/>
              <div class="ui hidden clearing divider"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
      $('#album')
          .dropdown({
              placeholder: false
          })
      ;
  </script>
{% endblock %}