<div class="required field {% if form.title.errors %}error{% endif %}">
  <label>{{ form.title.label }}</label>
  {{ form.title }}
</div>
{% if form.title.errors %}
  <div class="ui error message">
    {{ form.title.errors }}
  </div>
{% endif %}

<div class="field {% if form.description.errors %}error{% endif %}">
  <label>{{ form.description.label }}</label>
  {{ form.description }}
</div>
{% if form.description.errors %}
  <div class="ui error message">
    {{ form.description.errors }}
  </div>
{% endif %}

<div class="field {% if form.date.errors %}error{% endif %}">
  <label>{{ form.date.label }}</label>
  {{ form.date }}
</div>
{% if form.date.errors %}
  <div class="ui error message">
    {{ form.date.errors }}
  </div>
{% endif %}

<div class="field {% if form.parent.errors %}error{% endif %}">
  <label>{{ form.parent.label }}</label>
  {{ form.parent }}
</div>
{% if form.parent.errors %}
  <div class="ui error message">
    {{ form.parent.errors }}
  </div>
{% endif %}

<div class="field {% if form.sort_order.errors %}error{% endif %}">
  <label>{{ form.sort_order.label }}</label>
  {{ form.sort_order }}
</div>
{% if form.sort_order.errors %}
  <div class="ui error message">
    {{ form.sort_order.errors }}
  </div>
{% endif %}

<div class="inline field {% if form.public.errors %}error{% endif %}">
  <div class="ui toggle checkbox">
    <label>{{ form.public.label }}</label>
    {{ form.public }}
  </div>
</div>
{% if form.public.errors %}
  <div class="ui error message">
    {{ form.public.errors }}
  </div>
{% endif %}

<div class="inline field {% if form.show_metadata.errors %}error{% endif %}">
  <div class="ui toggle checkbox">
    <label>{{ form.show_metadata.label }}</label>
    {{ form.show_metadata }}
  </div>
</div>
{% if form.show_metadata.errors %}
  <div class="ui error message">
    {{ form.show_metadata.errors }}
  </div>
{% endif %}

<div class="inline field {% if form.show_location.errors %}error{% endif %}">
  <div class="ui toggle checkbox">
    <label>{{ form.show_location.label }}</label>
    {{ form.show_location }}
  </div>
</div>
{% if form.show_location.errors %}
  <div class="ui error message">
    {{ form.show_location.errors }}
  </div>
{% endif %}

<div class="inline field {% if form.downloadable.errors %}error{% endif %}">
  <div class="ui toggle checkbox">
    <label>{{ form.downloadable.label }}</label>
    {{ form.downloadable }}
  </div>
</div>
{% if form.downloadable.errors %}
  <div class="ui error message">
    {{ form.downloadable.errors }}
  </div>
{% endif %}
