{% extends "base.html" %}
{% block title %}Luo uusi albumi{% endblock %}

{% block content %}
  <div class="ui container">
    <div class="ui centered stackable grid">
      <div class="eight wide column">
        <h1 class="ui header">Luo uusi albumi</h1>
        <div class="ui raised segment">
          <form class="ui large form {% if form.errors %}error{% endif %}" action="{% url 'gallery:album-new' %}"
                method="post">
            {% csrf_token %}
            {% include 'album-form.html' %}
            <input class="ui primary big button" type="submit" value="Tallenna"/>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
      $('.ui.checkbox')
          .checkbox()
      ;
  </script>

  <script>
      $('#select')
          .dropdown()
      ;
  </script>
{% endblock %}
