{% extends "base.html" %}
{% block title %}Muokkaa albumia {{ form.instance.title }}{% endblock %}

{% block content %}
  <div class="ui container">
    <div class="ui centered stackable grid">
      <div class="eight wide column">
        <div class="ui raised segment">
          <form class="ui large form {% if form.errors %}error{% endif %}"
                action="{% url 'gallery:album-edit' form.instance.directory %}"
                method="post">
            {% csrf_token %}
            <h2 class="ui dividing header" id="form-header">
              {% if album.album_cover %}
              <img class="ui circular image" src="{{ album.album_cover.thumbnail_img.url }}" alt="{{ album.title }}">
              {% endif %}
              Muokkaa albumia</h2>
            {% include 'album-form.html' %}
            <input class="ui right floated primary big button" type="submit" value="Tallenna"/>
            <div class="ui hidden clearing divider"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
      $('.ui.checkbox')
          .checkbox()
      ;
  </script>
  <script>
      $('#parent')
          .dropdown({
              placeholder: false
          })
      ;
  </script>
  <script>
      $('#sort_order')
          .dropdown({
              placeholder: false
          })
      ;
  </script>
{% endblock %}
