{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ album.title }}{% endblock %}

{% if user.is_authenticated %}
  {% block navbar %}
    <div class="item header">
      Albumi
      <i class="grid layout icon"></i>
    </div>
    <a class="item" href="{% url 'gallery:album-edit' album.directory %}">Muokkaa</a>
    <a class="item" href="{% url 'gallery:album-scan' album.directory %}">Etsi uusia kuvia</a>
    <a class="item" href="{% url 'gallery:album-refresh' album.directory %}">Päivitä kuvat</a>
    <a class="item" href="#" id="album-delete">Poista</a>
  {% endblock %}
{% endif %}

{% block content %}
  {% if album.public or user.is_authenticated %}
    <div class="ui container">
      <div class="ui breadcrumb">
        <a class="section" href="{% url 'gallery:index' %}">Etusivu</a>
        {% if album.parent %}
          {% for parent in album.parent_albums reversed %}
            <i class="right angle icon divider"></i>
            <a class="section"
               href="{% url 'gallery:album' parent.directory %}">{{ parent.title }}</a>
          {% endfor %}
        {% endif %}
        <i class="right angle icon divider"></i>
        <div class="active section">{{ album.title }}</div>
      </div>
    </div>
  {% endif %}

  <div class="ui container" id="album-header">
    <div class="ui two column middle aligned container padded grid">
      <div class="left aligned eleven wide column" id="album-description">
        <h1 class="ui header">
        <span class="content">
          {{ album.title }}
          <span class="sub header">{{ album.description|safe }}</span>
        </span>
        </h1>
      </div>
      {% if photos %}
        <div class="right aligned five wide column" id="album-button">
          {% if album.downloadable %}
            <a class="ui small button" id="zip-button"
               data-tooltip="Tallenna albumin kuvat zip-tiedostona"
               data-position="bottom right"
               href="{% url 'gallery:album-download' album.directory %}">
              Lataa kuvat
            </a>
          {% endif %}
          <a class="ui small button" id="large-button"
             data-tooltip="Listaa kaikki albumin kuvat esikatselukuvina"
             data-position="bottom right" href="{% url 'gallery:album' album.directory %}">
            Näytä esikatselut
          </a>
        </div>
      {% endif %}
    </div>
  </div>

  {% if user.is_authenticated %}
    {% if album.pending_photos %}
      <div class="ui container" id="pending-photos">
        <div class="ui centered stackable grid ">
          <div class="six wide column">
            <div class="ui icon message">
              <i class="hourglass start icon"></i>
              <div class="content">
                <div class="header">
                  Kuvien käsittely kesken
                </div>
                <p>Albumissa on {{ album.pending_photos }} kuvaa joiden käsittely on vielä kesken.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endif %}

  <div class="ui container">
    <div class="ui centered stackable grid">
      <div class="eight wide mobile sixteen wide tablet twelve wide computer column">
        {% for photo in photos %}
          <div class="album-large-photo">
            <a href="{% url 'gallery:photo' photo.slug %}">
              {% if photo.preview_img %}

                <img class="ui centered image" src="{{ photo.preview_img.url }}"
                        {% if photo.hidpi_preview_img %}
                     srcset="{{ photo.hidpi_preview_img.url }} 1.5x"
                        {% endif %}
                     alt="{{ photo.title }}">

              {% else %}
                <img class="ui centered image" src="{{ photo.image.url }}"
                     alt="{{ photo.title }}">
              {% endif %}

            </a>
          </div>
        {% endfor %}
      </div>
    </div>

    {% if is_paginated %}
      <div class="ui center aligned basic segment">
        {% if page_obj.has_previous %}
          <a class="ui left labeled icon button" href="?page={{ page_obj.previous_page_number }}">
            <i class="left chevron icon"></i>
            edellinen
          </a>
        {% endif %}
        {% if page_obj.has_next %}
          <a class="ui right labeled icon button" href="?page={{ page_obj.next_page_number }}">
            <i class="right chevron icon"></i>
            seuraava
          </a>
        {% endif %}

        <div class="ui hidden divider"></div>
        <div class="ui scrolling dropdown" id="page-select">
          Sivu {{ page_obj.number }} / {{ paginator.num_pages }}
          <i class="caret up icon"></i>
          <div class="menu">
            {% for page in paginator.page_range %}
              {% if page_obj.number == page %}
                <a class="active item" href="?page={{ page }}">Sivu {{ page }} / {{ paginator.num_pages }}</a>
              {% else %}
                <a class="item" href="?page={{ page }}">Sivu {{ page }} / {{ paginator.num_pages }}</a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
  </div>

  {% if not photos and not sub_albums %}
    <div class="ui stackable centered container grid">
      <div class="six wide column column">
        <div class="ui icon message">
          <i class="image icon"></i>
          <div class="content">
            <div class="header">Ei kuvia</div>
            <p>Albumiin ei ole vielä lisätty kuvia.</p>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

{% endblock %}

{% block modals %}
  {% if user.is_authenticated %}
    <div class="ui small modal">
      <div class="header">
        Poista albumi
      </div>
      <div class="content">
        <p>Poistetaanko albumi "{{ album.title }}" ja kaikki sen alla olevat kuvat?</p>
      </div>
      <div class="actions">
        <form action="{% url 'gallery:album-delete' album.directory %}" method="post">
          {% csrf_token %}
          <div class="ui cancel button">
            Peruuta
          </div>
          <input class="ui negative button" type="submit" value="Poista"/>
        </form>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block scripts %}
  {% if user.is_authenticated %}
    <script>
        $('.ui.small.modal')
            .modal('setting', 'duration', 0)
            .modal('attach events', '#album-delete', 'show')
        ;
    </script>
  {% endif %}
  <script>
      $('#page-select')
          .dropdown({
              direction: 'upward'
          })
      ;
  </script>
{% endblock %}
