{% load staticfiles %}
<!doctype html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Galleria{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'gallery/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'gallery/css/gallery.css' %}">
    {% block header %}
    {% endblock %}
</head>
<body>
    {% include "navbar.html" %}
    <div class="container">
        {% block content %} {% endblock %}
    </div>

<script src="{% static 'gallery/js/jquery.min.js' %}"></script>
<script src="{% static 'gallery/js/bootstrap.min.js' %}"></script>
</body>
</html>
