{% load static %}
<!doctype html>
<html lang="fi">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Galleria{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'gallery/semantic/semantic.min.css' %}">
  <link rel="icon" href="{% static 'gallery/images/g.png' %}" sizes="192x192">
  <meta name="theme-color" content="#000000"/>
  {% block header %}{% endblock %}
</head>

<body>

{% if user.is_authenticated %}
  <div class="ui right sidebar inverted vertical menu" id="sidebar">
    <div class="item header">
      Lisää
      <i class="add square icon"></i>
    </div>
    {% if album.id %}
      {% load l10n %}
      <a class="item" href="{% url 'gallery:photo-new' %}?album_id={{ album.id|unlocalize }}">Uusi kuva</a>
      <a class="item" href="{% url 'gallery:photo-massupload' %}?album_id={{ album.id|unlocalize }}">Useampi kuva</a>
      <a class="item" href="{% url 'gallery:album-new' %}?parent={{ album.id|unlocalize }}">Uusi albumi</a>
    {% else %}
      <a class="item" href="{% url 'gallery:photo-new' %}">Uusi kuva</a>
      <a class="item" href="{% url 'gallery:photo-massupload' %}">Useampi kuva</a>
      <a class="item" href="{% url 'gallery:album-new' %}">Uusi albumi</a>
    {% endif %}
    {% block navbar %} {% endblock %}
    <div class="item header">
      Käyttäjä
      <i class="user icon"></i>
    </div>
    <a class="item" href="{% url 'admin:index' %}">Ylläpito</a>
    <a class="item" href="{% url 'gallery:logout' %}">Kirjaudu ulos</a>
  </div>
{% endif %}

<div class="pusher">
  <div class="ui inverted borderless menu" id="main-menu">
    <a class="item" href="{% url 'gallery:index' %}"><h1>Galleria</h1></a>
    <div class="right menu">
      {% if not request.path == '/search' %}
        <a class="item" id="search-button" onclick="$('#search').toggle(); $('#search-input').focus();">
          <i class="search icon"></i>
        </a>
      {% endif %}
      {% if user.is_authenticated %}
        <div class="ui top right dropdown link item">
          <i class="sidebar icon"></i>
        </div>
      {% else %}
        <a class="item" href="{% url 'gallery:login' %}">
        <span data-tooltip="Kirjaudu sisään" data-position="bottom right">
          <i class="sign in alternate icon"></i>
        </span>
        </a>
      {% endif %}
    </div>
  </div>

  <div class="ui right aligned container" id="search">
    <div class="ui stackable grid containe">
      <div class="right floated right aligned six wide column">

        <div class="ui fluid search">
          <div class="ui icon input">
            <input class="prompt" id="search-input" type="text" placeholder="Hae">
            <i class="search icon"></i>
          </div>
          <div class="results" id="search-results"></div>
        </div>

      </div>
    </div>
  </div>

  {% for message in messages %}
    <div class="ui container">
      <div class="ui center aligned stackable grid ">
        <div class="six wide column">
          <div class="ui center aligned compact {{ message.tags }} message">
            <div class="content">
              {{ message|linebreaksbr }}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

  {% block content %} {% endblock %}
</div>

<script src="{% static 'gallery/js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'gallery/semantic/semantic.min.js' %}"></script>
{% if user.is_authenticated %}
  <script>
      $('.ui.right.sidebar.inverted.vertical.menu')
          .sidebar('setting', 'transition', 'overlay')
          .sidebar('setting', 'dimPage', false)
          .sidebar('attach events', '.ui.top.right.dropdown.link.item')
      ;
  </script>
{% endif %}

<script>
    $('.ui.search')
        .search({
            apiSettings: {
                url: '/api/search?q={query}'
            },
            minCharacters: 3,
            maxResults: 6,
            error : {
                noResults: 'Hakusi ei tuottanut yhtään osumaa.'

            }
        })
    ;
</script>

{% block modals %}{% endblock %}
{% block scripts %}{% endblock %}

</body>
</html>
