{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Galleria{% endblock %}

{% block content %}
  {% if albums %}
    <div class="ui container">
      <div class="ui hidden divider"></div>
      <div class="ui grid" id="index-grid">
        {% for album in albums %}
          <div class="sixteen wide mobile eight wide tablet four wide computer column">
            <a class="ui fluid card" href="{% url 'gallery:album' album.directory %}">
              <div class="image">
                {% if album.album_cover.thumbnail_img.url %}
                  <img src="{{ album.album_cover.thumbnail_img.url }}"
                       srcset="{{ album.album_cover.hidpi_thumbnail_img.url }} 2x" alt="{{ album.title }}">
                {% else %}
                  <img src="{% static 'gallery/images/no_image.png' %}" alt="Placeholder image">
                {% endif %}
              </div>
              <div class="content">
                <div class="header">{{ album.title }}</div>
                <div class="description indexcard">
                  {{ album.description|striptags|truncatechars:160 }}
                </div>
              </div>
              <div class="extra content">
                <span class="right floated">
                  {{ album.date|date:'j.n.Y' }}
                  {% if not album.public %}
                    <i class="lock icon"></i>
                  {% endif %}
                </span>
                <span>
                  <i class="image icon"></i>
                  {{ album.photocount }}
                </span>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
      <div class="ui hidden divider"></div>
    </div>
  {% else %}
    <div class="ui container">
      <h2 class="ui center aligned icon header">
        <i class="image icon"></i>
        <span class="content">
        Ei albumeita
        <span class="sub header">Galleriaan ei ole vielä lisätty yhtään albumia.</span>
      </span>
      </h2>
    </div>
  {% endif %}
{% endblock %}
