{% extends "base.html" %}
{% block title %}Kirjaudu sisään{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="ui container">
      <h2 class="ui header">Olet kirjautunut sisään käyttäjänä {{ user.username }}</h2>
      <a class="ui large button" href="{% url 'gallery:logout' %}">Kirjaudu ulos</a>
    </div>
  {% else %}
    <div class="ui container">
      <div class="ui centered stackable grid">
        <div class="eight wide column">
          <div class="ui hidden divider"></div>
          <div class="ui raised segments">

            <div class="ui segment gallery">
              <h2 class="ui header gallery">
                <i class="sign in alternate icon"></i>
                Kirjaudu sisään
              </h2>
            </div>

            <div class="ui segment">
              <form class="ui big form {% if form.errors %}error{% endif %}"
                    action="{% url 'gallery:login' %}"
                    method="post">
                {% csrf_token %}
                <div class="required field">
                  <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" name="username" placeholder="käyttäjätunnus" required>
                  </div>
                </div>
                <div class="required field">
                  <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="password" placeholder="salasana" required>
                  </div>
                </div>
                {% if form.errors %}
                  <div class="ui error message">
                    <div class="header">Kirjautuminen epäonnistui</div>
                    <p>Virheellinen käyttäjätunnus tai salasana.</p>
                  </div>
                {% endif %}
                <input type="hidden" name="next" value="{{ next }}"/>
                <button class="ui primary fluid large submit button" type="submit">Kirjaudu</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
