{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ photo.title }}{% endblock %}
{% block header %}
  {% if photo.next_photo %}
    <link rel="next" href="{% url 'gallery:photo' photo.next_photo.slug %}">
    <link rel="prefetch" href="{% url 'gallery:photo' photo.next_photo.slug %}">
  {% endif %}
  {% if photo.previous_photo %}
    <link rel="prev" href="{% url 'gallery:photo' photo.previous_photo.slug %}">
  {% endif %}
{% endblock %}

{% if user.is_authenticated %}
  {% load l10n %}
  {% block navbar %}
    <div class="item header">
      Kuva
      <i class="image icon"></i>
    </div>
    <a class="item" href="{{ photo.image.url }}">Näytä alkuperäinen</a>
    <a class="item"
       href="{% url 'gallery:photo-setascover' photo.slug %}?album_id={{ photo.album_id|unlocalize }}">
      Aseta oletuskuvaksi
    </a>
    <a class="item" href="{% url 'gallery:photo-edit' photo.slug %}">Muokkaa</a>
    <a class="item" href="#" id="photo-delete">Poista</a>
    <div class="item header">
      Albumi
      <i class="grid layout icon"></i>
    </div>
    <a class="item" href="{% url 'gallery:album-edit' photo.album.directory %}">Muokkaa</a>
    <a class="item" href="{% url 'gallery:album-scan' photo.album.directory %}">Etsi uusia kuvia</a>
    <a class="item" href="{% url 'gallery:album-refresh' photo.album.directory %}">Päivitä kuvat</a>
    <a class="item" href="#" id="album-delete">Poista</a>
  {% endblock %}
{% endif %}

{% block content %}
  <div class="ui container" id="photo-container">
    <div class="ui breadcrumb">
      <a class="section" href="{% url 'gallery:index' %}">Etusivu</a>
      {% if photo.album.parent %}
        {% for parent in photo.album.parent_albums reversed %}
          <i class="right angle icon divider"></i>
          <a class="section"
             href="{% url 'gallery:album' parent.directory %}">{{ parent.title }}</a>
        {% endfor %}
      {% endif %}
      <i class="right angle icon divider"></i>
      <a class="section"
         href="{% url 'gallery:album' photo.album.directory %}">{{ photo.album.title }}</a>
      <i class="right angle icon divider"></i>
      <div class="active section">{{ photo.title }}</div>
    </div>
  </div>

  <div id="photo" class="ui container">
    {% if photo.preview_img %}
      <img class="ui centered image" src="{{ photo.preview_img.url }}"
              {% if photo.hidpi_preview_img %}
           srcset="{{ photo.hidpi_preview_img.url }} 1.5x"
              {% endif %}
           alt="{{ photo.title }}">
    {% else %}
      <img class="ui centered image" src="{{ photo.image.url }}"
           alt="{{ photo.title }}">
    {% endif %}

    {% if photo.exifdata %}
      <div class="ui container" id="photo-exifdata">
        <div class="ui centered stackable grid">
          <div class="twelve wide center aligned computer tablet only column">
            <div class="ui tiny horizontal list">

              {% if photo.exifdata.date_taken %}
                <div class="item">
                  <img class="ui avatar image"
                       src="{% static 'gallery/icons/calendar_alt_grey.svg' %}"
                       alt="Kuvan päiväys ja kellonaika">
                  <div class="content">
                    {{ photo.exifdata.date_taken|date:'j.n.Y H:i' }}
                  </div>
                </div>
              {% endif %}

              {% if photo.exifdata.model %}
                <div class="item">
                  <img class="ui avatar image" src="{% static 'gallery/icons/camera_simple_grey.svg' %}"
                       alt="Kamera">
                  <div class="content">
                    {{ photo.exifdata.model }}
                  </div>
                </div>
              {% endif %}

              {% if photo.exifdata.lens %}
                <div class="item">
                  <img class="ui avatar image" src="{% static 'gallery/icons/lens_grey.svg' %}"
                       alt="Objektiivi">
                  <div class="content">
                    {{ photo.exifdata.lens }}
                  </div>
                </div>
              {% endif %}

              {% if photo.exifdata.shutter_speed %}
                <div class="item">
                  <img class="ui avatar image"
                       src="{% static 'gallery/icons/shutter_speed_grey.svg' %}"
                       alt="Suljinaika">
                  <div class="content">
                    {{ photo.exifdata.shutter_speed }} sek.
                  </div>
                </div>
              {% endif %}

              {% if photo.exifdata.aperture %}
                <div class="item">
                  <img class="ui avatar image"
                       src="{% static 'gallery/icons/aperture_grey.svg' %}"
                       alt="Aukko">
                  <div class="content">
                    &fnof;/{{ photo.exifdata.aperture|floatformat }}
                  </div>
                </div>
              {% endif %}

              {% if photo.exifdata.iso %}
                <div class="item">
                  <img class="ui avatar image" src="{% static 'gallery/icons/iso_grey.svg' %}"
                       alt="ISO-arvo">
                  <div class="content">
                    {{ photo.exifdata.iso }}
                  </div>
                </div>
              {% endif %}

            </div>
          </div>
        </div>
      </div>
      <div class="ui hidden clearing divider"></div>
    {% endif %}

    {% if photo.description %}
      <div class="ui container" id="photo-description">
        <div class="ui centered stackable grid">
          <div class="ten wide column">
            <h4 class="ui horizontal divider header">Kuvaus</h4>
            <p>{{ photo.description }}</p>
          </div>
        </div>
      </div>
    {% endif %}

    <div id="photo-nav" class="ui center aligned basic segment">
      {% if photo.previous_photo %}
        <a class="ui left labeled icon button"
           href="{% url 'gallery:photo' photo.previous_photo.slug %}">
          <i class="left chevron icon"></i>
          edellinen
        </a>
      {% endif %}
      {% if photo.next_photo %}
        <a class="ui right labeled icon button"
           href="{% url 'gallery:photo' photo.next_photo.slug %}">
          <i class="right chevron icon"></i>
          seuraava
        </a>
      {% endif %}
    </div>
  </div>

  {% if photo.next_photo %}
    <img class="next-photo"
            {% if photo.next_photo.preview_img %}
         src="{{ photo.next_photo.preview_img.url }}"
            {% else %}
         src="{{ photo.next_photo.image.url }}"
            {% endif %}
            {% if photo.next_photo.hidpi_preview_img %}
         srcset="{{ photo.next_photo.hidpi_preview_img.url }} 1.5x"
            {% endif %}
         alt="{{ photo.next_photo.title }}">
  {% endif %}
{% endblock %}

{% block modals %}
  {% if user.is_authenticated %}
    <div class="ui small modal album-delete">
      <div class="header">
        Poista albumi
      </div>
      <div class="content">
        <p>Poistetaanko albumi "{{ photo.album.title }}" ja kaikki sen alla olevat kuvat?</p>
      </div>
      <div class="actions">
        <form action="{% url 'gallery:album-delete' photo.album.directory %}" method="post">
          {% csrf_token %}
          <div class="ui cancel button">
            Peruuta
          </div>
          <input class="ui negative button" type="submit" value="Poista"/>
        </form>
      </div>
    </div>

    <div class="ui small modal photo-delete">
      <div class="header">
        Poista kuva
      </div>
      <div class="content">
        <p>Poistetaanko kuva "{{ photo.title }}"?</p>
      </div>
      <div class="actions">
        <form action="{% url 'gallery:photo-delete' photo.slug %}" method="post">
          {% csrf_token %}
          <div class="ui cancel button">
            Peruuta
          </div>
          <input type="hidden" name="next" value="{{ photo.album.get_absolute_url }}"/>
          <input class="ui negative button" type="submit" value="Poista"/>
        </form>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block scripts %}
  {% if user.is_authenticated %}
    <script>
        $('.ui.small.modal.album-delete')
            .modal('setting', 'duration', 0)
            .modal('attach events', '#album-delete', 'show')
        ;

        $('.ui.small.modal.photo-delete')
            .modal('setting', 'duration', 0)
            .modal('attach events', '#photo-delete', 'show')
        ;
    </script>
  {% endif %}

  <script>
      $(document).keydown(function (e) {
          switch (e.which) {
              {% if photo.previous_photo %}
                  case 37: // left
                      window.location.href = "{% url 'gallery:photo' photo.previous_photo.slug %}";
                      break;
              {% endif %}

              {% if photo.next_photo %}
                  case 39: // right
                      window.location.href = "{% url 'gallery:photo' photo.next_photo.slug %}";
                      break;
              {% endif %}

              default:
                  return;
          }
          e.preventDefault();
      });
  </script>
{% endblock %}
