<div class="required field {% if form.title.errors %}error{% endif %}">
  <label>{{ form.title.label }}</label>
  {{ form.title }}
</div>
{% if form.title.errors %}
  <div class="ui error message">
    {{ form.title.errors }}
  </div>
{% endif %}
<div class="field {% if form.description.errors %}error{% endif %}">
  <label>{{ form.description.label }}</label>
  {{ form.description }}
</div>
{% if form.description.errors %}
  <div class="ui error message">
    {{ form.description.errors }}
  </div>
{% endif %}
<div class="required field {% if form.album.errors %}error{% endif %}">
  <label>{{ form.album.label }}</label>
  {{ form.album }}
</div>
{% if form.album.errors %}
  <div class="ui error message">
    {{ form.album.errors }}
  </div>
{% endif %}
<div class="required field {% if form.image.errors %}error{% endif %}">
  <label>{{ form.image.label }}</label>
  {{ form.image }}
</div>
{% if form.image.errors %}
  <div class="ui error message">
    {{ form.image.errors }}
  </div>
{% endif %}
