{% extends "base.html" %}
{% block title %}Kuvien massalataus{% endblock %}

{% block content %}
  <div class="ui container">
    <form class="ui large form {% if form.errors %}error{% endif %}" action="{% url 'gallery:photo-massupload' %}"
          method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="required field {% if form.album.errors %}error{% endif %}">
        <label>{{ form.album.label }}</label>
        {{ form.album }}
      </div>
      <div class="required field {% if form.image.errors %}error{% endif %}">
        <label>{{ form.image.label }}</label>
        {{ form.image }}
      </div>
      <input class="ui primary big button" type="submit" value="Lähetä"/>
    </form>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    $('#select')
      .dropdown()
    ;
  </script>
{% endblock %}
