{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ photo.title }}{% endblock %}

{% if user.is_authenticated %}
  {% block navbar %}
  <div class="ui divider"></div>
  <div class="header">Kuva</div>
  <a class="item" href="{% url 'gallery:photo-edit' photo.slug %}">Muokkaa</a>
  <a class="item" href="#" id="photo-delete">Poista</a>
  <div class="ui divider"></div>
  <div class="header">Albumi</div>
  <a class="item" href="{% url 'gallery:album-edit' photo.album.directory %}">Muokkaa</a>
  <a class="item" href="#" id="album-delete">Poista</a>
  {% endblock %}
{% endif%}

{% block content %}
  <h2 class="ui top attached header centered">
    {{ photo.title }}
  </h2>
  <div class="ui attached segment photo">
    {% if photo.preview_img %}
      <img class="ui image centered" src="{{ photo.preview_img.url }}"
          {% if photo.hidpi_preview_img.url %} srcset="{{ photo.hidpi_preview_img.url }} 2x" {% endif %}
           alt="{{ photo.title }}">
    {% else %}
      <img class="ui image centered" src="{{ photo.image.url }}"
           alt="{{ photo.title }}">
    {% endif %}
  </div>
  {% if photo.description %}
    <div class="ui attached segment">
      <p>{{ photo.description }}</p>
    </div>
  {% endif %}

{% endblock %}

{% if user.is_authenticated %}
  {% block modals %}
    <div class="ui small modal album-delete">
      <div class="header">
        Poista albumi
      </div>
      <div class="content">
        <p>Poistetaanko albumi "{{ photo.album.title }}" ja kaikki sen alla olevat kuvat?</p>
      </div>
      <div class="actions">
        <form action="{% url 'gallery:album-delete' photo.album.directory %}" method="post">
          {% csrf_token %}
          <div class="ui cancel button">
            Peruuta
          </div>
          <input class="ui negative button" type="submit" value="Poista"/>
        </form>
      </div>
    </div>
    <div class="ui small modal photo-delete">
      <div class="header">
        Poista kuva
      </div>
      <div class="content">
        <p>Poistetaanko kuva "{{ photo.title }}"?</p>
      </div>
      <div class="actions">
        <form action="{% url 'gallery:photo-delete' photo.slug %}" method="post">
          {% csrf_token %}
          <div class="ui cancel button">
            Peruuta
          </div>
          <input class="ui negative button" type="submit" value="Poista"/>
        </form>
      </div>
    </div>
  {% endblock %}
{% endif %}

{% if user.is_authenticated %}
  {% block scripts %}
    <script>
      $('.ui.small.modal.album-delete')
          .modal('setting', 'duration', 0)
          .modal('attach events', '#album-delete', 'show')
      ;

      $('.ui.small.modal.photo-delete')
          .modal('setting', 'duration', 0)
          .modal('attach events', '#photo-delete', 'show')
      ;
    </script>
  {% endblock %}
{% endif %}