{% extends "base.html" %}
{% block title %}Muokkaa kuvaa {{ form.instance.title }}{% endblock %}

{% block content %}
  <div class="ui container">
    <div class="ui centered stackable grid">
      <div class="eight wide column">
        <div class="ui raised segment">
          <form class="ui large form {% if form.errors %}error{% endif %}"
                action="{% url 'gallery:photo-edit' form.instance.slug %}"
                method="post">
            {% csrf_token %}
            <h2 class="ui dividing header" id="form-header">
              <img class="ui circular image" src="{{ photo.thumbnail_img.url }}" alt="{{ photo.title }}">
              Muokkaa kuvaa</h2>
            {% include 'photo-form.html' %}
            <input class="ui right floated primary big button" type="submit" value="Tallenna"/>
            <div class="ui hidden clearing divider"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
      $('#album')
          .dropdown({
              placeholder: false
          })
      ;
  </script>
{% endblock %}