{% extends "base.html" %}
{% block title %}Muokkaa kuvaa {{ form.instance.title }}{% endblock %}

{% block content %}
  <div class="ui container">
    <div class="ui centered stackable grid">
      <div class="eight wide column">
        <div class="ui raised segments">

          <div class="ui segment gallery">
            <h2 class="ui header" id="segment-header">
              <img class="ui circular image" src="{{ photo.thumbnail_img.url }}"
                   alt="{{ photo.title }}">
              Muokkaa kuvaa
            </h2>
          </div>

          <div class="ui segment">
            <form class="ui large form {% if form.errors %}error{% endif %}"
                  action="{% url 'gallery:photo-edit' form.instance.slug %}"
                  method="post">
              {% csrf_token %}
              {% include 'photo-form.html' %}
              {% if photo.exifdata %}
                <p><a href="{% url 'gallery:exif-edit' form.instance.id %}">Muokkaa metatietoja</a></p>
              {% endif %}
              <div class="ui right aligned container savebutton">
                <input class="ui primary big button" type="submit" value="Tallenna"/>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
{% endblock %}
