{% extends "base.html" %}
{% block title %}Aseta kansikuvaksi{% endblock %}

{% block content %}
  <div class="ui container">
    <div class="ui centered stackable grid">
      <div class="eight wide column">
        <div class="ui raised segments">

          <div class="ui segment gallery">
            <h2 class="ui header">
              <img class="ui circular image" src="{{ photo.thumbnail_img.url }}"
                   alt="{{ photo.title }}">
              Aseta albumin kansikuvaksi
            </h2>
          </div>

          <div class="ui segment">
            <form class="ui large form {% if form.errors %}error{% endif %}"
                  action="{% url 'gallery:photo-setascover' photo.slug %}" method="post">
              {% csrf_token %}
              <div class="required field">
                <label>{{ form.album.label }}</label>
                {{ form.album }}
              </div>
              <div class="ui right aligned container savebutton">
                <input class="ui primary big button" type="submit" value="Tallenna"/>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
      $('#album')
          .dropdown({
              placeholder: false
          })
      ;
  </script>
{% endblock %}
