{% extends "base.html" %}
{% block title %}Kuvien massalataus{% endblock %}

{% block content %}
  <div class="ui container">
    <div class="ui centered stackable grid">
      <div class="eight wide column">
        <div class="ui raised segments">

          <div class="ui segment gallery">
            <h2 class="ui header gallery">
              <i class="image icon"></i>
              Lisää useampi kuva
            </h2>
          </div>

          <div class="ui segment">

            <form class="ui large form"
                  action="{% url 'gallery:photo-massupload' %}"
                  method="post"
                  enctype="multipart/form-data"
                  id="upload-form">
              {% csrf_token %}

              <div class="required field">
                <label>{{ form.album.label }}</label>
                {{ form.album }}
              </div>

              <div class="required field">
                <label>{{ form.image.label }}</label>
                {{ form.image }}
              </div>

            </form>

            <div class="ui large blue progress" id="upload-progress">
              <div class="bar">
                <div class="progress"></div>
              </div>
              <div class="label pending-label">
                Lähetetään kuvia
              </div>
            </div>

            <div class="ui error message" id="upload-errors">
              <strong>Tarkista seuraavat virheet</strong>
              <ul id="error-list">
              </ul>
            </div>

            <div class="ui right aligned container savebutton">
              <button class="ui primary big button" id="submit-button" onclick="upload()">
                Lähetä
              </button>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
      $('#select')
          .dropdown()
      ;
  </script>

  <script>
      function parseErrors(json) {
          var errors = json.errors;
          $('#upload-errors').show();

          if ('album' in errors) {
              for(var i in errors.album) {
                  $('#error-list').append('<li>Albumi: ' + errors.album[i] + '</li>');
              }
          }

          if ('image' in errors) {
              for(var i in errors.image) {
                  $('#error-list').append('<li>' + errors.image[i] + '</li>');
              }
          }
      }

      function upload(){
          var form = document.getElementById('upload-form');
          var xhr = new XMLHttpRequest();
          xhr.responseType = 'json';

          $('#submit-button').addClass('disabled');
          $('#error-list').empty();
          $('#upload-errors').hide();
          $('#upload-progress').toggle();

          xhr.upload.addEventListener('progress', function(evt){
              if (evt.lengthComputable) {
                  var percentage = evt.loaded / evt.total * 100;

                  $('#upload-progress').progress({
                      autoSuccess: false,
                      percent: percentage
                  });
              }
          }, false);

          xhr.open("post", form.action);
          xhr.send(new FormData(form));

          xhr.onload = function () {
              if (xhr.status === 200 && xhr.response.message === 'OK') {
                  window.location.href = xhr.response.successUrl;
              } else {
                  $('#upload-progress')
                      .toggle()
                      .progress({
                          percent: 0
                      })
                  ;
                  $('#submit-button').removeClass('disabled');
                  parseErrors(xhr.response);
              }
          }
      }
  </script>
{% endblock %}
